.videoBox{position: relative;
width: 100%;
height: 800px;}
.video:before{position: absolute;
content:" ";
display: block;
left:0;
width: 100%;height: 800px;
background-image: url(../../../img/block-4-mask.png);
background-repeat: repeat-x;
background-position: center;
-webkit-background-size: cover;
background-size: cover;
z-index: 900;
}
.video{position: absolute;
width: 100%;height: 100%;
background-image: url(../../../img/download-4.jpg);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
background-size: cover;}

.video>h2{
width: 80%;
max-width: 850px;
margin:300px auto 50px;
text-transform: uppercase;
font-size: 33px;
text-align: center;
font-weight: bold;
color:#fff;
}

.video>button{
width: 200px;
height: 80px;margin: auto;
background-image: url(../../../img/burnt-btn.svg);
background-color: transparent;
color:#fff;
padding:25px 35px;
display: block;
font-weight: 900;
letter-spacing: 1px;
font-size: 16px;
border:0;
}

.video>button:hover,
.video>button:focus{opacity: 0.7;}

/*PCfull*/
@media screen and (min-width: 801px) and (max-width: 1920px) {
.video:before{width:100%;}
}


/*mobile*/
@media screen and (min-width: 300px) and (max-width: 800px) {
.video:before{width:100%;}
}



